html, body, p{
  margin: 0;
  padding: 0;
}
li{
	text-decoration: none !important;
	cursor: pointer !important;
}
.main{
  width: 100%;
  margin: 0 auto;
  max-width: 990px;
}
.loading-wrapper{
	width: 100%;
}
.mdl-textfield{
	width: 100% !important;
}
.mdl-button{
	margin-bottom: 20px !important;
}
.mdl-spinner{
	margin-left: calc(50% - 25px);
	margin-top: 100px;
}